/*---------------------------------------
    General
-----------------------------------------*/

:root {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	--bs-body-color: #adb5bd;
	--bs-body-bg: #212529;
	--bs-border-width: 1px;
	--bs-border-color: #dee2e6;
	--bs-border-radius: 0.375rem;
	--bs-orange: #fd7e14;
	--h4-font-family: 'Merriweather', serif;
	--h4-font-style: normal;
	--h4-font-weight: normal;
	--h4-color: var(--bs-orange);
	--h4-font-size: 12px;
	--h4-letter-spacing: 0.5px;
}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	background: var(--bs-body-bg);
	font-family: 'Lora', serif;
	font-style: normal;
	font-weight: 300;
	overflow: auto;
	position: relative;
	width: 95%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	text-align: center;
}

/*---------------------------------------
    Typorgraphy
-----------------------------------------*/

/*---------------------------------------
    Home section              
-----------------------------------------*/

.container {
	margin-top: 1rem!important;
	margin-bottom: 1rem!important;
}

input {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input::placeholder {
	font-family: var(--h4-font-family);
	font-style: var(--h4-font-style);
	font-weight: var(--h4-font-weight);
	color: var(--h4-color);
	font-size: var(--h4-font-size);
	letter-spacing: var(--h4-letter-spacing);
}

.input-group {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: auto;
}

.input-group>.form-control {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
}

.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	background-clip: padding-box;
	border: var(--bs-border-width) solid var(--bs-border-color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: var(--bs-border-radius);
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.player {
  position: relative;
  width: clamp(300px, 100%, 100%);
  height: clamp(200px, 90vh - 40px, 1100px);
  margin: 20px auto;
  box-sizing: border-box;
  overflow: auto;
}
